{% extends 'base.html' %}

{% block title %}
Password Reset
{% endblock %}

{% block body %}
  <h3 class="text-standard">Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    <p class="text-standard">Enter your email below to recieve instructions to reset your password.</p>
    {% for field in form %}
    <p class="text-standard">{{ field.label }}: {{ field }}</p>
    {% endfor %}
    <button class="btn btn-secondary text-standard" type="submit">Submit</button>
  </form>
  <div class="placeholder-md"></div>
{% endblock %}