{% extends 'base.html' %}

{% block title %}
Password Reset Confirm
{% endblock %}

{% block body %}
  {% if validlink %}
    <h3>Change password</h3>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <p class="text-standard">{{ field.label }}: {{ field }}</p>
      {% endfor %}
      <button class="btn btn-secondary" type="submit">Change password</button>
    </form>
  {% else %}
    <p class="text-standard">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}