html {
    position: relative;
    min-height: 100%
}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('Backgroundonly.png');
    margin-bottom: 155px;
}

.nav-back {
    background-color: rgb(120, 0, 0);
}

.main {
    background-color: grey;
}

.footer {
    background: radial-gradient(black, grey);
    position: absolute;
    bottom: 0;
    width: 100%;
}

.cp-box {
    background: radial-gradient(red, darkred);
}

.hide-nav {
    visibility: hidden;
}

.banner-text {
    color: #bfbfbf;
}

.banner-img {
    width: 100px;
    height: 100px;
}

.footer-text {
    color: #bfbfbf;
}

.info {
    text-align: right;
    list-style: none;
}

.info li {
    display: inline;
}

.links {
    margin-left: -25px;
}

.links li {
    display: inline;
}

.info h5 {
    color: #bfbfbf;
}

#collapse-left {
    padding-right: 10px;
    width: 25%;
}

#collapse-right {
    padding-left: 10px;
    width: 25%;
}

.banner {
    width: 50%;
}

.navbar {
    padding: 0 15px;
    margin-bottom: 2rem;
}

.page-text {
    color: white;
}


@media (max-width: 355px) {
    .reg_form ul {
        margin-left: -35px;
    }
}

@media (max-width: 565px) {
    .reg_button {
        float: none !important;
    }
}

@media (max-width: 730px) {
    .info {
        padding-left: 0;
        text-align: left !important;
    }
}

@media (max-width: 505px) {
    .email {
        font-size: 15px;
    }
}

@media (max-width: 425px) {
    .email {
        font-size: 12px;
    }
}

@media (max-width: 770px) {
    body {
        margin-bottom: 200px;
    }
}

@media (max-width: 441px) {
    body {
        margin-bottom: 240px;
    }
}

@media (max-width: 388px) {
    body {
        margin-bottom: 260px;
    }
}

@media (max-width: 331px) {
    body {
        margin-bottom: 290px;
    }
}

.reg_form h4 {
    margin: 15px;
    margin-top: 25px;
}

.reg_form li {
    list-style: none;
    margin: 10px;
}

.reg_button {
    float: right;
}
