/* ***************************************************************************
GENERAL
*************************************************************************** */

html {
    position: relative;
    min-height: 100%
}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('../Backgroundonly.png');
}


/* ***************************************************************************
NAV
*************************************************************************** */

.navbar {
    padding: 0 15px;
}

.nav-link {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
}

.nav-social {
    width: 25px;
    height: 25px;
}

.staff-nav {
    padding: 1px;
}

.hide-nav {
    visibility: hidden;
}

.header {
    padding: 30px 30px 15px 5px;
}

.text-standard {
    font-family: 'Cardo', serif;
}

.form-font {
    font-size: 18px;
}

.header-sub {
    font-family: 'Tangerine', serif;
    font-size: 2.1rem;
}

.header-main {
    font-family: 'Cinzel Decorative', serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.banner-text p {
    margin-bottom: 0;
}

.banner-img {
    width: 150px;
    height: 150px;
}

.info {
    text-align: right;
    list-style: none;
    color: black;
    padding-left: 0;
}

.info li {
    display: inline;
}

.dividor {
    height: 35px;
    width: 100%;
    padding: 0px 20px;
    margin: 15px 0px;
}

.dropdown-menu {
    background-image: url('../parch.jpg');
    background-size: 100% 100%;
}

.dropdown-item:hover {
    background-color: transparent;
    color: rgb(122, 0, 0);
}

.dropdown-item.active {
    background-color: transparent;
    color: rgb(122, 0, 0);
}

.pick-up {
    padding-top: .5rem;
    padding-left: .2rem;
}

/* ***************************************************************************
MAIN SECTION
*************************************************************************** */

.page-text {
    padding: 0px 20px 60px;
}

.content-back {
    background-image: url('../parch.jpg');
    background-size: 100% 100%;
    padding-bottom: 10px;
}

.left-bar {
    margin: 5px 0px 0px;
    background-size: 100% 325px;
    background-image: url('../left scroll.png')
}

.right-bar {
    margin: 5px 0px 0px;
    background-size: 100% 325px;
    background-image: url('../right scroll.png')
}


#myCarousel {
    padding: 10px 20px;
}

.carousel-text {
    font-family: 'Tangerine', serif;
    text-align: center;
    font-size: 36px;
}

.about-text {
    font-size: 18px;
    text-align: center;
}

.abt-text-col {
    flex-grow: 3;
}

.section-heads {
    font-family: 'Cinzel Decorative', serif;
    padding: 10px 0px;
}

.section-sub-heads {
    text-align: center;
}

.names {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
}

.next-link {
    font-family: 'Cinzel Decorative', serif;
    text-align: center;
    text-decoration: underline;
    color: rgb(122, 0, 0);
}

.disclaimer {
    margin-top: 15px;
}

.reg_form h4 {
    margin: 15px;
    margin-top: 25px;
}

.reg_form li {
    list-style: none;
    margin: 10px;
}

.item-form li {
    list-style: none;
    display: inline;
}

.item-form {
    margin-left: 15px;
}

.form-image {
    max-width: 100%;
}

.carousel-link {
    background-color: rgba(0, 0, 0, 0.8);
    width: 27%;
    margin: auto;
    height: 5.8%;
    margin-bottom: 1.5rem;
    padding-top: 0;
}

.carousel-link:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.carousel-link a:hover {
    color: rgb(142, 0, 0);
}

.slide-link {
    font-size: 1.7rem;
    margin-bottom: 0;
}

.gallery-title {
    text-align: center;
}

.gallery-row {
    padding: 0 20px;
}

.galleries-row {
    border: .1rem solid black;
    border-radius: 10%;
    padding: 25px 15px;
    margin: 25px 15px;
}

.galleries-image {
    max-height: 250px;
}

.galleries-text-row {
    height: 50%;
}

.gallery-card {
    padding-top: 20px;
    padding-bottom: 5px;
    width: 30%;
}

.gallery-image {
    max-width: 100%;
}

.lightbox-img {
    width: 100%;
}

.abt-pic {
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.link-font {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.9);
}

.link-font:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.fa-stack[data-count]:after {
  position: absolute;
  right: -45%;
  top: -30%;
  content: attr(data-count);
  font-size: 14px;
  padding: .6em;
  line-height: .75em;
  color: rgb(122, 0, 0);
  text-align: right;
  font-weight: bold;
}

.cart {
    height: 27px;
    width: 27px;
}

.description-font {
    font-size: 18px;
}

.serv-p-font {
    font-size: 18px;
}

.date-picker-font {
    font-size: 18px;
    padding-top: 10px;
}

.serv-section-font {
    font-size: 22px;
    font-style: bold;
}

.iframe-map {
    width: 400px;
    height: 300px;
}

.p-emails {
    margin-bottom: 0;
}

.page-404 {
    background-image: url('static/404-image.jpg');
}

.discount-remove {
    margin: 8px 0px;
}

.code-table th {
    border: 1px solid #dee2e6;
}

.code-table td {
    border: 1px solid #dee2e6;
}

.table thead th {
    border-bottom: none;
}

/* ***************************************************************************
CATALOG
*************************************************************************** */

.prods, .servs {
    list-style: none;
    display: inline;
}

.catalog-catagories {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    margin-left: 15px;
}

.card-row {
    margin: 15px 0px 15px 15px;
}

.card-row a {
    text-decoration: none;
    color: black;
}

.side-bar-items {
    list-style: none;
    margin-left: -30px;
}

.side-bar-items a {
    color: rgba(0, 0, 0, 0.9);
}

.side-bar-catagories:hover {
    color: rgba(0, 0, 0, 0.7);
}

.side-bar-items a:hover {
    text-decoration: none;
}

.catalog-tag-head {
    margin-left: 30px;
}

.tagged-row {
    margin-left: 0px;
}

.catagory-a:hover {
    text-decoration: none;
}

.catalog-catagories:hover {
    color: rgba(0, 0, 0, 0.7);
}

.card-title {
    padding-top: 5px;
    margin-bottom: .5rem;
}

.card {
    border-width: .1rem;
    border-color: black;
    background-size: 100% 100%;
    background-color: transparent;
    padding: .5rem;
    margin-left: 1rem;
    margin-top: 1rem;
    color: black;
}

.side-bar {
    padding: .5rem 0;
    margin-left: 1rem;
}

.side-bar-more {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.9);
    padding: 0;
}

.side-bar-more:hover {
    color: rgba(0, 0, 0, 0.7);
}

.side-bar-more:focus {
    outline: none;
}

.paginator {
    padding-right: 90px;
}

.item-container {
    padding: 10px 25px;
}

.item-details {
    text-align: right;
}

.btn-secondary {
    background-color: #727b84;
}

.btn-secondary:hover {
    background-color: #4c5155;
}

.product-image {
    max-width: 100%;
    max-height: 400px;
}

.item-header {
    text-align: center;
    font-weight: normal;
}

.service {
    padding-bottom: 20px;
}

.serv-image {
    max-width: 100%;
}

.service-image-banner {
    padding: 10px 55px;
}

.textarea-form > textarea, input {
    max-width: 95%;
}

.placeholder {
    height: 250px;
}

.placeholder-small {
    height: 52px;
}

.placeholder-md {
    height: 100px;
}

.newsletter {
    font-size: 14.66px;
    margin-bottom: 10px;
}

.del-button {
    padding-top: 30px;
}

.image-links {
    color: rgba(0, 0, 0, 0.9);
}

.image-links:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.update-order {
    padding-right: 22px;
    padding-left: 22px;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}


/* ***************************************************************************
ACCOUNT
*************************************************************************** */

.acc-pic {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.acc-info-row {
    padding: 25px 0;
}

.acc-row {
    padding: 25px 15px;
}

.acc-list-row {
    margin-left: -30px;
    width: 100%;
}

.account-list {
    list-style: none;
    width: 48%;
}

.acc-item-link {
    color: rgba(0, 0, 0, 0.9);
}

.acc-item-link:hover {
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
}

.acc-form {
    padding-bottom: 25px;
}


.add-col {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* ***************************************************************************
FOOTER
*************************************************************************** */

.footer-break {
    border-color: black;
}

.footer-info li {
    display: inline;
}

.links {
    padding-left: 0;
}

.links li {
    display: inline;
}

.cp {
    text-align: center;
}

/* ***************************************************************************
MEDIA QUERY
*************************************************************************** */

@media (max-width: 1200px) {
    .account-list {
    width: 46%;
    }
    .slide-link {
        font-size: 1.4rem;
    }
    .header-main {
        font-size: 1.4rem;
    }
    .header-sub {
        font-size: 1.9rem;
    }
    .banner-img {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 992px) {
    .info {
        padding-left: 0;
        text-align: left !important;
    }
}

@media (max-width: 1024px) {
    .content-back {
        padding-bottom: 0;
    }
}

@media (max-width: 995px) {
    .catalog {
        padding-left: 20px;
    }
    .calendar {
        height: 400px;
    }
    .acc-pic-col {
        width: 200px;
        height: 200px;
    }
    .slide-link {
        font-size: 1rem;
    }
}

@media (max-width: 770px) {
    .side-bar {
        visibility: hidden;
    }
    .gallery-card {
    width: 45%;
    }
    .acc-pic-col {
        width: 170px;
        height: 170px;
    }
    .abt-text-col {
    flex-basis: auto;
    }
    .account-list {
    width: 100%;
    }
    .carousel-link {
        width: 35.5%;
    }
}

@media (max-width: 768px) {
    .acc-pic-col {
        width: 120px;
        height: 120px;
    }
    .banner-img-col {
        height: 0;
    }
    .banner-img {
        visibility: hidden;
    }
}

@media (max-width: 660px) {
    body {
        background-image: url('../Backgroundonlyslim.png');
    }
}

@media (max-width: 570px) {
    .left-bar, .right-bar {
    padding: 0;
    visibility: hidden;
    }
    .reg_button {
        float: none !important;
    }
    .acc-pic-col {
        width: 100%;
    }
    .iframe-map {
    width: 250px;
    height: 175px;
    }
    .carousel-link {
        width: 35.5%;
    }
    .carousel-text {
        font-size: 28px;
    }
}

@media (max-width: 530px) {
    .carousel-link {
        width: 37%;
    }
}

@media (max-width: 515px) {
    .carousel-link {
        width: 39%;
    }
}

@media (max-width: 490px) {
    .catalog {
        padding-left: 0px;
    }
    .calendar {
    height: 300px;
    }
    .acc-pic-col {
        visibility: hidden;
        flex-grow: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .carousel-link {
        width: 41%;
    }
}

@media (max-width: 465px) {
    .banner-text p {
        margin-bottom: 15px;
    }
    .side-bar {
        padding: 5px;
        margin: 5px;
    }
    .gallery-card {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    }
    .carousel-link {
        width: 43%;
    }
}

@media (max-width: 410px) {
    .side-bar {
        padding: 0px;
        margin: 0px;
    }
}

@media (max-width: 390px) {
    .side-bar {
        width: 15px;
        flex: none !important;
    }
    .iframe-map {
    width: 175px;
    height: 200px;
    }
}

@media (max-width: 355px) {
    .reg_form ul {
        margin-left: -35px;
    }
    .side-bar {
        width: 0;
    }
}

@media (max-width: 320px) {
    .tagged-row {
        padding-left: 25px;
    }
}
