{% extends 'rvfsite/base.html' %}
{% block body %}
  <div class="register">
    <h2>Get an Account</h2>
    <form class="reg_form" method='post'>
      {% csrf_token %}
      <ul>
      {% for field in form %}
        <li>
          {{ field.label_tag }}
          {{ field }}
          {% for error in field.errors %}
            <h4>{{ error }}</h4>
          {% endfor %}
        </li>
      {% endfor %}
      <input class="button reg_button" type="submit" value="Sign up!">
      </ul>
    </form>
  </div>
{% endblock %}