{% extends 'rvfsite/base.html' %}
{% load static %}
{% load thumbnail %}
{% load mathfilters %}

{% block title %}
About
{% endblock %}

{% block body %}
<h1 class="section-heads text-center">THE FORGE</h1>
<p class="text-standard about-text">
Ravenmoore Valley Forge & Metalworks is crewed by a team of designers and artisans who will help you bring your creations to life. We offer a variety of metalworking services out of our forge and fabrication shops, including made-to-order custom fabrication, maintenance and repair of metalwork items, removal of scrap metal and materials in addition to a catalog of pre-made metal tools and artwork. Our capabilities as a shop are constantly advancing as we add new tools to our shops and new skills to our repertoire to refine our craft and our wares.
</p>
<h1 class="section-heads text-center">THE MARKETPLACE</h1>
<p class="text-standard about-text">
RVFM also stands for the other half of who we are; Ravenmoore Valley Forge & Marketplace. Many types of products can be found here made by the members of the shop and fellow artisans alike. Small hobby artists searching for a table or a market to sell their creations or even other artists to collaborate with join us in our ventures.
</p>
<h1 class="section-heads text-center">MARKETPLACE HEADER</h1>
<p class="text-standard about-text">
In the Marketplace you’ll find the ever-changing inventory including but not limited to; custom blades and wands, chainmail jewelry and sheet-goods, and wire-wrapped stones. Alongside the inventory, we also have our friends and artisans listed below with their information. We hope you enjoy the Marketplace and thank you for visiting.
</p>
<p class="text-standard about-text">
Take a look in the shop Gallery for a glimpse at where the magic happens!
</p>

<a class="next-link" href="/gallery/around_the_shop/"><h2>Visit the Forge!</h2></a>
<img class="dividor" src="{% static 'arrow-divider.png' %}">

{% for group, members in groups.items %}
    <h1 class="section-heads section-sub-heads">{{ group }}</h1>
    {% for member, count in members.items %}
        {% if member.account.about %}
            {% if count|mod:2 == 1 %}
            <div class="row">
                <div class="col">
                    <img class="abt-pic d-block mx-auto" src="{{ member.account.pic.url }}">
                    <h3 class="names">{{ member.account.first_name }} {{ member.account.last_name }}</h3>
                </div>

                <div class="col abt-text-col">
                    <p class="text-standard about-text">
                    {{ member.account.about }}
                    </p>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col abt-text-col">
                    <p class="text-standard about-text">
                    {{ member.account.about }}
                    </p>
                </div>

                <div class="col">
                    <img class="abt-pic d-block mx-auto" src="{{ member.account.pic.url }}">
                    <h3 class="names">{{ member.account.first_name }} {{ member.account.last_name }}</h3>
                </div>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <img class="dividor" src="{% static 'arrow-divider.png' %}">
{% endfor %}
<h1 class="section-heads section-sub-heads">Shop Dog</h1>
<div class="row">
    {% if count|mod:2 == 1 %}
    <div class="col">
        <img class="abt-pic d-block mx-auto" src="{% static 'isis.jpg' %}">
        <h3 class="names">Isis</h3>
    </div>

    <div class="col abt-text-col">
        <p class="text-standard about-text">
        Our dutiful shop pup, Isis (named for the ancient Egyptian goddess of magic and wisdom) is an excitable but laid-back girl who would be delighted to meet you! She is very attentive to the needs of the crew in determining when they need to take breaks, often by dropping tennis balls at their feet and staring expectantly.
        </p>
    </div>
    {% else %}
    <div class="col abt-text-col">
        <p class="text-standard about-text">
        Our dutiful shop pup, Isis (named for the ancient Egyptian goddess of magic and wisdom) is an excitable but laid-back girl who would be delighted to meet you! She is very attentive to the needs of the crew in determining when they need to take breaks, often by dropping tennis balls at their feet and staring expectantly.
        </p>
    </div>

    <div class="col">
        <img class="abt-pic d-block mx-auto" src="{% static 'isis.jpg' %}">
        <h3 class="names">Isis</h3>
    </div>
    {% endif %}
</div>

{% endblock %}