{% extends 'rvfsite/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
Home
{% endblock %}

{% block body %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ul>

  <div class="carousel-inner" role="listbox">
    {% for pic in random_pics %}
        {% if forloop.revcounter0 %}
        <div class="carousel-item">
          <img class="d-block img-fluid" src="{{ pic.webContentLink }}">
        </div>
        {% else %}
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="{{ pic.webContentLink }}">
        </div>
        {% endif %}
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <div class="btn carousel-caption carousel-link"><a class="next-link" href="{% url 'about' %}"><h2>Meet the Crew!</h2></a></div>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p class="carousel-text">Welcome to Ravenmoore Valley Forge &amp; Metalworks, where our crew of designers and artisans
can craft anything from the simplest of works to the most intricate of designs.
</p>
{% endblock %}