{% extends 'rvfsite/base.html' %}
{% load thumbnail %}

{% block title %}
{% if nbar == 'prods' %}
Products
{% elif nbar == 'servs' %}
Services
{% if slug %}
 - {{ slug }}
{% endif %}
{% endif %}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-1 side-bar">
        <h5 class="text-standard">Market Place
        {% if slug %}
         - {{ slug }}
        {% else %}
         Catagories
        {% endif %}
        </h5>
        <ul class="side-bar-items">
        {% for tag in all_tags %}
            {% if forloop.counter < 10 %}
            <a href="{% url 'tagged_products' slug=tag %}"><li class="side-bar-catagories text-standard">{{ tag }}</li></a>
            {% endif %}
            {% if forloop.counter == 10 %}
                <button class="side-bar-more" type="button" data-toggle="collapse" data-target=".more-catagories" aria-controls=".more-catagories" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-standard">more...</span>
                </button>
            {% endif %}
            {% if forloop.counter > 10 %}
            <a href="{% url 'tagged_products' slug=tag %}"><li class="side-bar-catagories more-catagories collapse text-standard">{{ tag }}</li></a>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
    <div class="col catalog">
    {% if page.paginator.num_pages != 1 %}
        <nav aria-label="{{ tag }} paginator">
            <ul class="pagination justify-content-center paginator">
                {% if page.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only text-standard">Previous</span>
                    </a>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only text-standard">Previous</span>
                    </a>
                {% endif %}
                </li>
                <li class="page-item disabled">
                    <span class="page-link text-standard">{{ page.number }} of {{ page.paginator.num_pages }}</span>
                </li>
                {% if page.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only text-standard">Next</span>
                    </a>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only text-standard">Next</span>
                    </a>
                {% endif %}
                </li>
            </ul>
        </nav>
    {% endif %}
    {% if slug %}
        <a class="catagory-a" href="{% url 'tagged_products' slug=slug %}">
            <h2 class="catalog-catagories text-standard">
                Market Place
                 - {{ slug }}
            </h2>
        </a>
        <div class="row card-row">
            {% for item in items %}
                {% if forloop.counter < 5 %}
                    <a href="{% url 'prod' pk=item.id %}">
                        <div class="card">
                        {% thumbnail item.image "180x180" crop="center" as pic %}
                        <img src="{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}">
                        {% endthumbnail %}
                        <h5 class="card-title text-standard">{{ item.name }}</h5>
                        <p class="card-text text-standard">${{ item.price }}</p>
                    </div></a>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        {% for tag in all_tags %}
            <a class="catagory-a" href="{% url 'tagged_products' slug=tag %}"><h2 class="catalog-catagories text-standard">{{ tag }}</h2></a>
            <div class="row card-row">
            {% for key_tag, prod_or_serv in items.items %}
                {% if tag == key_tag %}
                    {% for item in prod_or_serv %}
                        {% if forloop.counter < 5 %}
                            <a href="{% url 'prod' pk=item.id %}">
                                <div class="card">
                                {% thumbnail item.image "180x180" crop="center" as pic %}
                                <img src="{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}">
                                {% endthumbnail %}
                                <h5 class="card-title text-standard">{{ item.name }}</h5>
                                <p class="card-text text-standard">${{ item.price }}</p>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
    {% if page.paginator.num_pages != 1 %}
        <nav aria-label="{{ tag }} paginator">
            <ul class="pagination justify-content-center paginator">
                {% if tags.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ tags.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only text-standard">Previous</span>
                    </a>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only text-standard">Previous</span>
                    </a>
                {% endif %}
                </li>
                <li class="page-item disabled">
                    <span class="page-link text-standard">{{ tags.number }} of {{ tags.paginator.num_pages }}</span>
                </li>
                {% if tags.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ tags.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only text-standard">Next</span>
                    </a>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only text-standard">Next</span>
                    </a>
                {% endif %}
                </li>
            </ul>
        </nav>
    {% endif %}
    </div>
</div>
{% endblock %}