{% extends 'rvfsite/base.html' %}

{% block title %}Check Complete{% endblock %}

{% block body %}
<h1 class="text-standard">Your checkout is complete!</h1>
<p class="text-standard">Your order number is #{{ order.id }}.</p>
<p class="text-standard">You will recieve an email with tracking info once your item is shipped. </p>
<p class="text-standard">This info and that status of your order will be available on your account page if you registered.</p>
<p class="text-standard">Thank you for shopping at Ravenmoore Valley Forge and Metalworks.</p>
{% endblock %}