{% extends 'rvfsite/base.html' %}
{% load thumbnail %}
{% load mathfilters %}

{% block title %}Checkout{% endblock %}

{% block body %}

<h2>Shipping To:</h2>
<div class="row">
    <ul>
        <li class="footer-info">
            <h4>{{ info.first }}, {{ info.last }}</h4>
        </li>
        <li class="footer-info">
            <h4>{{ info.email }}</h4>
        </li>
        <li class="footer-info">
            <h4>{{ shipping.address1 }}</h4>
        {% if shipping.address2 %}
        </li>
        <li class="footer-info">
            <h4>{{ shipping.address2 }}</h4>
        {% endif %}
        </li>
        <li class="footer-info">
            <h4>{{ shipping.city }}</h4>
        </li>
        <li class="footer-info">
            <h4>{{ shipping.state }}</h4>
        </li>
        <li class="footer-info">
            <h4>{{ shipping.zip_code }}</h4>
        </li>
    </ul>
</div>

<div class="w-100">
    <h3 class="text-standard">Total:
        {% if total %}
            {% if total.endswith == 0 %}
                ${{ total }}0
            {% else %}
                ${{ total }}
            {% endif %}
        {% else %}
        $0
        {% endif %}
    </h3>
</div>

<div class="w-100 d-flex">
    <a class="btn btn-secondary text-standard" href="{% url 'cart' %}">Back</a>
    <div id="paypal-button-container" class="ml-auto"></div>
</div>
<p class="text-standard">
    * Items will ship in approximatly 4 weeks and you will recieve an email with tracking information when they go out. If you have an account this information will also be available in your orders.
</p>
<br>
<p class="text-standard">
    * If you have schedualed a service you will recieve an email confirming your time and date, or if a reschedual is needed, we will reach out to set an available time.
</p>
{% endblock %}

{% block js %}
<script>

paypal.Button.render({
  env: 'sandbox', // sandbox | production


  style: {
    label: 'checkout',
    size:  'medium', // small | medium | large | responsive
    shape: 'rect', // pill | rect
    color: 'black', // gold | blue | silver | black
    tagline: false,
  },

  // PayPal Client IDs - replace with your own
  // Create a PayPal app: https://developer.paypal.com/developer/applications/create

  client: {
    sandbox: 'Aa9iJNJgoHU7KRYt_O2Ox8rglbTsnxzpz0JnCChgzC03UMj2Vj4xHRC8LPXYynt3jtdy9TzB3eiQ8l0u',
    production: '<insert production client id>'
  },

  commit: true,

  payment: function(data, actions) {
    return actions.payment.create({
      payment: {
        transactions: [
          {
            amount: {total: '{{ total }}', currency: 'USD'},
            description: 'Payment for goods and or services from RVFM.'
          }
        ]
      },

      experience: {
        input_fields: {
          no_shipping: 1,
        }
      }
    });
  },


  onAuthorize: function(data, actions) {
    return actions.payment.execute().then(function() {
      window.location.replace("{% url 'check_comp' %}");
    });
  }

}, '#paypal-button-container');

</script>
{% endblock %}