{% extends 'rvfsite/base.html' %}

{% block title %}Add a Product{% endblock %}

{% block body %}
<h2 class="text-standard">Create a Product</h2>
    <form class="item-form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
        {% for field in form %}
            {% if forloop.counter == 1 %}
            <div class="col">
            <h4 class="text-standard">{{ field.label }}:</h4>
            <p class="textarea-form">{{ field }}</p>
            {% elif forloop.counter == 9 %}
            </div>
            <div class="col">
            <h4 class="text-standard">{{ field.label }}:</h4>
            <p class="textarea-form">{{ field }}</p>
            {% else %}
            <h4 class="text-standard">{{ field.label }}:</h4>
            <p class="textarea-form">{{ field }}</p>
            {% endif %}
        {% endfor %}
        </div>
        </div>
        <input class="button text-standard" type="submit" value="Create">
    </form>
{% endblock %}