{% extends 'rvfsite/base.html' %}

{% block title %}Edit a Product{% endblock %}

{% block body %}
<h2 class="text-standard">Edit a Product</h2>
    <form class="item-form" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="row">
        {% for field in form %}
            {% if forloop.counter == 1 %}
            <div class="col">
            <h4 class="text-standard">{{ field.label }}:</h4>
            <img class="form-image" src="{{ field.value.url }}">
            <p class="textarea-form">{{ field }}</p>
            {% elif forloop.counter == 8 %}
            </div>
            <div class="col">
            <h4 class="text-standard">{{ field.label }}:</h4>
            <p class="textarea-form">{{ field }}</p>
            {% else %}
            <h4 class="text-standard">{{ field.label }}:</h4>
            <p class="textarea-form">{{ field }}</p>
            {% endif %}
        {% endfor %}
        </div>
        </div>
        <div class="d-flex w-100">
            <input class="btn btn-secondary text-standard" type="submit" value="Update">
            <div class="ml-auto">
                <a class="btn btn-secondary text-standard" href="{% url 'copy_prod' pk=object.id %}">Copy</a>
                <a class="btn btn-danger text-standard" href="{% url 'del_prod' pk=object.id %}">Delete</a>
            </div>
        </div>
    </form>
{% endblock %}