{% extends 'rvfsite/base.html' %}
{% load thumbnail %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <h2 class="text-standard">{{ product.name }}</h2>
    <div class="row item-container">
        <div class="col">
            <img class="product-image" src="{{ product.image.url }}">
            </div>
            <div class="col item-details">
            <h4 class="text-standard">price: ${{ product.price }}</h4>
            <h4 class="text-standard">{% if product.stock %}stock: {{ product.stock }}{% elif product.stock == 0 %}Out of Stock{% else %}In Stock{% endif %}</h4>
            <p class="text-standard description-font">{{ product.description }}</p>
            <p>
                {% if product.length %}
                    <label class="text-standard">length:</label>
                    <select name="length">
                        {% for length in product.length %}
                        <option value="{{ length }}">{{ length }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
            <p>
                {% if product.diameter %}
                    <label class="text-standard">diameter:</label>
                    <select name="diameter">
                        {% for diameter in product.diameter %}
                        <option value="{{ diameter }}">{{ diameter }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
            <p>
                {% if product.color %}
                    <label class="text-standard">color:</label>
                    <select name="color">
                        {% for color in product.color %}
                        <option value="{{ color }}">{{ color }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
            <p>
                {% if product.extras %}
                    <label class="text-standard">extras:</label>
                    <select name="extras">
                        <option value="----">----</option>
                        {% for extra in product.extras %}
                        <option value="{{ extra }}">{{ extra }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </p>
            <p>
                <label class="text-standard">Quantity:</label>
                <select name="quantity">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </p>
        </div>
    </div>
    <div class="d-flex w-100">
        {% if user.is_staff %}
        <a class="btn btn-secondary text-standard" href="{% url 'edit_prod' product.id %}">Edit</a>
        {% endif %}
        <div class="ml-auto">
        {% if user.is_authenticated %}
        <input class="btn btn-secondary text-standard" type="submit" name="save" value="Save item for Later">
        {% endif %}
        {% if product.stock != 0 %}
            {% if product.is_knife %}
                {% if user.is_authenticated %}
                    <input class="btn btn-secondary text-standard" type="submit" name="add" value="Add to cart">
                {% else %}
                    <a class="btn btn-secondary text-standard" href="{% url 'login' %}">Login</a>
                {% endif %}
            {% else %}
                <input class="btn btn-secondary text-standard" type="submit" name="add" value="Add to cart">
            {% endif %}
        {% elif product.stock == 0 %}
            <input class="btn btn-secondary text-standard" type="submit" value="Out of Stock" disabled>
        {% else %}
            {% if product.is_knife %}
                {% if user.is_authenticated %}
                    <input class="btn btn-secondary text-standard" type="submit" name="add" value="Add to cart">
                {% else %}
                    <a class="btn btn-secondary text-standard" href="{% url 'login' %}">Login</a>
                {% endif %}
            {% else %}
                <input class="btn btn-secondary text-standard" type="submit" name="add" value="Add to cart">
            {% endif %}
        {% endif %}
        </div>
    </div>
    <div class="w-100">
        {% if not user.is_authenticated %}
            {% if product.is_knife %}
                <p class="text-standard serv-p-font">This item is a knife and requires you verify your age to purchase, please login or create an account.</p>
            {% endif %}
        {% endif %}
        {% if product.warning %}
        <p class="text-standard serv-p-font">* {{ product.warning }}</p>
        {% endif %}
    </div>
</form>
{% endblock %}