{% extends 'rvfsite/base.html' %}
{% load thumbnail %}
{% load mathfilters %}

{% block title %}Services{% endblock %}

{% block body %}
    <h1 class="text-standard text-center">Services:</h1>
    {% for serv in servs %}
    <div class="row service galleries-row">
        <div class="col-6">
            <img class="serv-image" src="{{ serv.image.url }}" max-height="150px">
        </div>
        <div class="col-6 text-center">
            <h3 class="header-main item-header">{{ serv.name }}</h3>
            <p class="text-standard">{{ serv.blurb }}</p>
            <a class="btn btn-secondary text-standard" href="{% url 'serv' pk=serv.id %}">Read More</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}