{% extends 'rvfsite/base.html' %}
{% load mathfilters %}

{% block title %}Change Address{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" class="prod-form" method="post">
        {% csrf_token %}
        <div class="row">
        {% for address in addresses %}
            {% if forloop.counter > 2 and forloop.counter|sub:1|mod:3 == 0 %}
            </div>
            <div class="row">
                <div class="col add-col">
                    <h4 class="text-standard">Name:</h4>
                    <input type="text" name="name" value="{{ address.name }}" readonly></input>
                    <h4 class="text-standard">Address Line 1:</h4>
                    <input type="text" name="address1" value="{{ address.address1 }}" readonly></input>
                    {% if address.address2 %}
                    <h4 class="text-standard">Address Line 2:</h4>
                    <input type="text" name="address2" value="{{ address.address2 }}" readonly></input>
                    {% endif %}
                    <h4 class="text-standard">Zip Code:</h4>
                    <input type="text" name="zip_code" value="{{ address.zip_code }}" readonly></input>
                    <h4 class="text-standard">City:</h4>
                    <input type="text" name="city" value="{{ address.city }}" readonly></input>
                    <h4 class="text-standard">State:</h4>
                    <input type="text" name="state" value="{{ address.state }}" readonly></input>
                    <h4 class="text-standard">Main:</h4>
                    <input class="single-checkbox" type="checkbox" name="main {{ address.id }}" value="{{ address.main }}" {% if address.main %}checked{% endif %}></input><br><br>
                    {% if account.has_address_delete %}
                    <a class="btn btn-secondary text-standard del-btn" href="{% url 'del_add' address.id %}">Delete Address</a>
                    {% endif %}
                </div>
            {% else %}
            <div class="col add-col">
                <h4 class="text-standard">Name:</h4>
                <input type="text" name="name" value="{{ address.name }}" readonly></input>
                <h4 class="text-standard">Address Line 1:</h4>
                <input type="text" name="address1" value="{{ address.address1 }}" readonly></input>
                {% if address.address2 %}
                <h4 class="text-standard">Address Line 2:</h4>
                <input type="text" name="address2" value="{{ address.address2 }}" readonly></input>
                {% endif %}
                <h4 class="text-standard">Zip Code:</h4>
                <input type="text" name="zip_code" value="{{ address.zip_code }}" readonly></input>
                <h4 class="text-standard">City:</h4>
                <input type="text" name="city" value="{{ address.city }}" readonly></input>
                <h4 class="text-standard">State:</h4>
                <input type="text" name="state" value="{{ address.state }}" readonly></input>
                <h4 class="text-standard">Main:</h4>
                <input class="single-checkbox" type="checkbox" name="main {{ address.id }}" value="{{ address.main }}" {% if address.main %}checked{% endif %}></input><br><br>
                {% if account.has_address_delete %}
                <a class="btn btn-secondary text-standard del-btn" href="{% url 'del_add' address.id %}">Delete Address</a>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
    <input class="button text-standard" type="submit" value="Update">
    </form>
{% endblock %}