{% extends 'rvfsite/base.html' %}
{% block title %}Contact{% endblock %}

{% block body %}
<form enctype="multipart/form-data" class="contact-form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <h1 class="text-standard">Contact</h1>
            {% for field in form %}
            <h4 class="text-standard">{{ field.label }}</h4>
            <p class="text-standard">{{ field }}</p>
            {% endfor %}
            <button class="btn btn-secondary text-standard" type="submit">Submit</button>
        </div>
        <div class="col">
            <iframe
              width="400"
              height="300"
              frameborder="0" style="border:0"
              src="https://www.google.com/maps/embed/v1/place?key={{ api }}
                &q=11639+13th+Ave+SW,Burien+WA">
            </iframe>
            <h4 class="text-standard">Shop Hours:</h4>
            <p class="text-standard">Tues.-Sat. 10AM-8PM</p>
        </div>
    </div>
</form>
{% endblock %}