{% extends 'rvfsite/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
Galleries
{% endblock %}

{% block body %}

<h1 class="gallery-title text-standard">Galleries</h1>

{% for gallery in galleries %}
<div class="row galleries-row">
  <div class="col">
    <div class="text-center card-block">
      <img class="galleries-image" src="{{ gallery.cover.webContentLink }}">
    </div>
  </div>
  <div class="col">
    <div class="row">
      <div class="col">
        <div class="row galleries-text-row justify-content-center">
          <h3 class="text-standard galleries-text">{{ gallery.name }}</h3>
        </div>
        <div class="row galleries-text-row justify-content-center">
          <p class="text-standard galleries-text">{{ gallery.description }}</p>
        </div>
      </div>
    </div>
    <div class="row galleries-text-row align-items-end justify-content-center">
      <a class="text-center text-standard btn btn-secondary" href="{% url 'gallery' slug=gallery.url %}">View the Gallery</a>
    </div>
  </div>
</div>
{% endfor %}


{% endblock %}