{% extends 'rvfsite/base.html' %}
{% load mathfilters %}
{% load thumbnail %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <h2>Order Content:</h2>
        <ul class="row acc-list-row">
        {% for item in prods %}
            {% if forloop.counter0|mod:4 == 0 and forloop.counter0 > 0 %}
            </ul>
            <ul class="row acc-list-row">
                <li class="card account-list">
                    <div class="row">
                        <div class="col text-center">
                            {% thumbnail item.item.image "150x150" crop="center" as pic %}
                            <img src="{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}">
                            {% endthumbnail %}
                            <a class="acc-item-link" href="{% url 'prod' item.item_id %}"><h4 class="text-standard">{{ item.item.name }}</h4></a>
                        </div>
                        <div class="col">
                            {% for field, value in item.items %}
                                {% if field in item_fields %}
                                <h5 class="text-standard">{{ field }}: {{ value }}</h5>
                                {% endif %}
                            {% endfor %}
                            <h5 class="text-standard">${{ item.item.price }} per unit</h5>
                        </div>
                    </div>
                </li>
            {% else %}
                <li class="card account-list">
                    <div class="row">
                        <div class="col text-center">
                            {% thumbnail item.item.image "150x150" crop="center" as pic %}
                                <img src="{{ pic.url }}" width="{{ pic.width }}" height="{{ pic.height }}">
                            {% endthumbnail %}
                            <a class="acc-item-link" href="{% url 'prod' item.item_id %}"><h4 class="text-standard">{{ item.item.name }}</h4></a>
                        </div>
                        <div class="col">
                            {% for field, value in item.items %}
                                {% if field in item_fields %}
                                <h5 class="text-standard">{{ field }}: {{ value }}</h5>
                                {% endif %}
                            {% endfor %}
                            <h5 class="text-standard">${{ item.item.price }} per unit</h5>
                        </div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
        <div class="row">
            <div class="col">
                {% if address %}
                <h2>Shipping To:</h2>
                <ul>
                    <li class="footer-info">
                        <h4>{{ address.address1 }}</h4>
                    {% if address.address2 %}
                    </li>
                    <li class="footer-info">
                        <h4>{{ address.address2 }}</h4>
                    {% endif %}
                    </li>
                    <li class="footer-info">
                        <h4>{{ address.city }}</h4>
                    </li>
                    <li class="footer-info">
                        <h4>{{ address.state }}</h4>
                    </li>
                    <li class="footer-info">
                        <h4>{{ address.zip_code }}</h4>
                    </li>
                </ul>
                {% endif %}
            </div>
            <div class="col">
            {{ form.as_p }}
            </div>
        {% if staff %}
        </div>
        <div class="d-flex update-order">
            <input class="btn btn-secondary text-standard ml-auto" type="submit" value="Update">
        </div>
        {% endif %}
    </form>
{% endblock %}