{% extends 'rvfsite/base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
Users
{% endblock %}

{% block body %}

<h2 class="text-standard">Users</h2>
<ul>
{% for account in account_list %}
  <li>
    <a class="text-standard link-font" href="{% url 'comment' account.id %}">{{ account }}</a>
  </li>
{% endfor %}
</ul>
<h2 class="text-standard">Registered mailing list:</h2>
{% if email_list %}
<ul>
{% for account in email_list %}
  <li>
    <p class="text-standard">{{ account.user.email }}</p>
  </li>
{% endfor %}
</ul>
{% else %}
    <p class="text-standard">No registered emails yet.</p>
{% endif %}
<h2 class="text-standard">Unregistered mailing list:</h2>
{% if unreg_email_list %}
<ul>
{% for email in unreg_email_list %}
  <li>
    <p class="text-standard">{{ email }}</p>
  </li>
  {% endfor %}
</ul>
{% else %}
    <p class="text-standard">No unregistered emails yet.</p>
{% endif %}


{% endblock %}